<a href="https://colab.research.google.com/github/upomadas-alt/Assignment_2_Python.ipynb/blob/main/Copy_of_Assignment_2_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Introduction**

In [ ]:
print("hello world")

hello world

# **2.1 Create variables for your name, age, and favorite color, then print them with descriptive labels**

In [ ]:
# Creating variables
name = "Upoma"
age = 22
favourite_color = "white" # Corrected variable name
# Printing variables
print("Name:", name)
print("Age:", age)
print("favourite color", favourite_color) # Use the variable instead of hardcoded value

Name: Upoma
Age: 22
favourite color white

# **2.2.Create one variable of each type and use the type() function to verify its type**

In [ ]:
name = "upoma"
address = 'Rangpur'
age = 22
price = 99.99
is_valid = True
has_paid = False
result = None
print(type(name))
print(type(age))
print(type(price))
print(type(is_valid))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'bool'>

# **2.3.Calculate the area and perimeter of a rectangle with length 7 and width 5**

In [ ]:
# Define the length and width of the rectangle
length = 7
width = 5

# Calculate the area
area = 7 * 5

# Calculate the perimeter
perimeter = 2 * (7 + 5)

# Print the results
print(f"The area of the rectangle is: {area}")
print(f"The perimeter of the rectangle is: {perimeter}")

The area of the rectangle is: 35
The perimeter of the rectangle is: 24

## **Data Structure**

# **2.4.Create a list of 5 Bangladeshi foods, then access the first and last elements**

In [ ]:
# Creating a list
foods = ["biriyani", "dal", "fuchka", "beef", "khichuri"]
# Accessing elements (indexing starts at 0)
print(foods[0])       # biriyani
print(foods[-1])       # khichuri

biriyani
khichuri

# **2.5 Create a list of 5 numbers, add a new number, remove one, and then sort the list**

In [ ]:
#Adding numbers in List
number = ["52", "53", "54", "55", "56"]
number.append("57")    # Add to end
print("List of after adding a number(57): ",number)

List of after adding a number(57):  ['52', '53', '54', '55', '56', '57']

In [ ]:
#Removing numbers in List
number.remove("56")    # Remove by value
popped = number.pop()    # Remove & return last item
print("List of after remove a number(56): ",number) # ["52","53","54","55","57"]

List of after remove a number(56):  ['52', '53', '54', '55']

In [ ]:
#organinzing list
number.sort() # Alphabetical order
print("List in ascending order: ",number)
number.reverse() # Reverse order
print("List in Descending order: ",number)

List in ascending order:  ['52', '53', '54', '55']
List in Descending order:  ['55', '54', '53', '52']

# **2.6 Create a dictionary about yourself with at least 4 key-value pairs**

In [ ]:
# Creating a dictionary
student = {
"name": "upoma",
"age": 22,
"university": "BRUR",
"CGPA" :"3.63"
} # Closing the dictionary

# Accessing values using keys
print("Name:", student["name"])
print("Age:", student["age"])
print("University:", student["university"])
print("CGPA:", student["CGPA"])

Name: upoma
Age: 22
University: BRUR
CGPA: 3.63

# **2.7 Create a tuple with the latitude and longitude of a famous place in Bangladesh**

In [ ]:
# Creating a tuple
Kantijir_mondir = ("25.7904 north", "88.6667 east")
# Accessing elements
print(type(Kantijir_mondir))

<class 'tuple'>

# **2.8 Create two sets of colors and find their union and intersection**

In [ ]:
# Tuple with two sets of colors
color_1= {"blue","green","red"}
color_2= {"green","pink","white"}
union = color_1 | color_2
intersection  = color_1 & color_2
print(union)
print(intersection )

{'green', 'red', 'blue', 'pink', 'white'}
{'green'}

## **Conditional**

# **2.9 Write a program that checks if a number is positive, negative, or zero**

In [ ]:
# Basic if-else
num = int(input("Enter a number: "))
if num > 0:
  print("Positive")
elif num < 0:
  print("Negative")
else:
  print("Zero")
print(f"Your num is {num}")

Enter a number: 52
Positive
Your num is 52

# **2.10 Write a program that checks eligibility for a discount (student AND under 25, OR senior over 60)**

In [ ]:
# Write a program that checks eligibility for a discount (student AND under 25, OR senior over 60)

# Get input from the user
is_student_input = input("Are you a student? (yes/no): ").lower()
age = int(input("Enter your age: "))

# Convert student input to a boolean
is_student = is_student_input == 'yes'

# Check for discount eligibility
if (is_student and age < 25) or age > 60:
  print("You are eligible for a discount!")
else:
  print("You are not eligible for a discount.")

Are you a student? (yes/no): yes
Enter your age: 22
You are eligible for a discount!

## **Loop**

# **2.11 Write a program that prints the first 10 even numbers using a for or while loop**

In [ ]:
from ast import While
# Looping through a list
count=2
while count < 10:
  print(count)
  count += 1
print(count)

2
3
4
5
6
7
8
9
10

# **2.12 Write a program that prints a simple number pyramid pattern using nested loops**

In [ ]:
rows = 6  # Number of rows in the pyramid

for i in range(1, rows + 1):
  for space in range(rows - i):
    print(" ", end="") # This line prints spaces
  # Inner loop to print numbers in each row
  for j in range(1, i + 1):
    print(j, end=" ") # This line prints numbers followed by a space
  print()  # Move to the next line after each row

     1
    1 2
   1 2 3
  1 2 3 4
 1 2 3 4 5
1 2 3 4 5 6

## **Function**

# **2.13 Create a function that converts temperature from Celsius to Fahrenheit using the formula: F = (C × 9/5) + 32**

In [ ]:
# Create a function that converts temperature from Celsius to Fahrenheit using the formula: F = (C × 9/5) + 32
def celsius_to_fahrenheit(celsius):
  """Converts Celsius to Fahrenheit."""
  fahrenheit = (celsius * 9/5) + 32
  return fahrenheit

# Get Celsius input from the user
try:
    celsius_input = float(input("Enter the temperature in Celsius: "))
    # Call the function and print the result
    fahrenheit_output = celsius_to_fahrenheit(celsius_input)
    print(f"{celsius_input}°C is equal to {fahrenheit_output}°F")
except ValueError:
    print("Invalid input. Please enter a number for the temperature.")

Enter the temperature in Celsius: 33
33.0°C is equal to 91.4°F

# **2.14 Create a function with default parameters that calculates the area of a rectangle**

In [ ]:
def rectangle_area(length=5, width=10):
  """Calculates the area of a rectangle."""
  area = length * width
  return area
print(rectangle_area())

50